@media(min-width: 768px) and (max-width: 1024px){
  .bookid-wrapper.vertiform {
    width: 100%!important;
  }
}

@media(max-width: 1024px){
  .book-option {
    width: 100%!important;
  }
}

@media(max-width: 1023px){
  body.single-rooms main[role="main"] {
    padding: 45px 0px;
  }
}

@media(max-width: 767px){
  .header-image-page {
    height: 45vh;
  }
}
